*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
.container1{
    height: 700px;
    background-image: url("./IMAGE/Frame\ 54.png");
    color: white;
}
nav{
    width:100%;
    padding:10px 70px;
    background-color: black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color: white;
}
input:checked~.menu {
    left: 0%;
}
input {
    display: none;
}
label i{
    opacity: 0;
    font-size: 30px;
}

.logo{
    color:white;
    font-size:40px;
    font-weight:bold;
}

.menu{
    display:flex;
    align-items:center;
    gap:55px;
    cursor: pointer;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:22px;
    font-weight:700;
}

/* CONTACT DESIGN */

.contact{
    position:relative;
   cursor: pointer;
    padding:10px 42px;

    background:#303033;

    clip-path:polygon(
        10% 0%,
        100% 0%,
        88% 100%,
        0% 100%
    );

    overflow:visible;
    z-index:1;
}

/* top cyan strip */

.shape{
   
    position:absolute;

    top:35px;
    right:59px;

    width:250px;
    height:40px;
    z-index: 0;
    background:#6ffcff;

    clip-path:polygon(
        35% 0%,
        100% 0%,
        93% 100%,
        25% 100%
    );
}

/* bottom dark strip */
.shape1{
    position: absolute;
    width:130px;
    height:5px;
    z-index: 0;
  top:90px;
    right:80px; 
    background-color:#303033; 
     clip-path:polygon(
        10% 0%,
        100% 0%,
        90% 100%,
        0% 100%
    );
}
.shape3{

      position:absolute;

    top:90px;
    right:220px;

    width:40px;
    height:5px;

    background:lightblue;
     clip-path:polygon(
        10% 0%,
        100% 0%,
        90% 100%,
        0% 100%
    );

}

/* SEARCH EVENTS */
section{
    background-color: black;
    color: white;
    /* height: 500px; */
    padding: 40px 150px;
    
}

.search-events{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.all-events{
    width: 50%;
    display: flex;
    gap: 30px;
}
.all-events button:nth-child(1){
    /* width: 250px; */
    padding: 10px 100px 10px 10px;
    /* height: 30px; */
    /* height: 50px; */
    color: white;
    border-radius: 15px;
    font-size: 17px;
    border: none;
    border: 2px solid rgb(102, 92, 92);
    background-color: rgb(44, 28, 28);
}
.all-events button:nth-child(2){
     color: white;
     width: 140px;
     padding: 10px;
    border-radius: 15px;
    font-size: 17px;
    border: none;
    border: 2px solid rgb(102, 92, 92);
    background-color: rgb(44, 28, 28);
}
.search-events img{
    /* padding-top: 30px; */
    margin-left: 5px;
    /* margin-top: 5px; */
    text-align: center;
}


.butt{
     color: white;
     width: 140px;
     padding: 5px;
    border-radius: 15px;
    font-size: 17px;
    border: none;
    border: 2px solid rgb(102, 92, 92);
    background-color: rgb(44, 28, 28);
}


/* CYBER PLUS */
.cyber{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    /* padding-top: 50px; */
    padding-top: 50px;
    margin-top: 50px;
    border-top: 3px solid white;
     /* border-bottom: 3px solid white; */
}
.june{
    width: 70%;
    /* background-color: blue; */
    display: flex;
    gap: 30px;

}
.june h3{
    font-size: 30px;
}
.cyber h1{
    margin-top: 35px;
}
.june img{
    width: 150px;
    height: 130px;
}
.buy{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.buy button{
    padding: 13px;
    width: 130px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    
}
.buy button:first-child{
    background-color: rgb(20, 202, 193);
}

.buy button:last-child{
    background-color:black;
    color: white;
    border: 1px solid white;
}
.tour{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: red; */
    /* align-items: center; */
    align-items: start;
    /* justify-content: start ; */
}
.icon{
    font-size: 18px;
    justify-content: flex-start;
    display: flex;
    gap: 5px;
    /* margin-right: 70px; */
}
.icon i:last-child{
    margin-left: 20px;
}


/* -----------------------123 */
.numbers{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.numbers i{
    margin-top: 6px;
    font-size: 20px;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:white;
    color: black;
    font-size: 25px;
    text-align: center;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
  background-color: #111;
  color:rgb(73, 243, 215);
  padding: 40px 90px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer img{
 
    width: 100px;
    height: 100px;
}
footer h2{
  
   margin-top: 30px;
}
.lo{
    display: flex;
}

.newsletter form {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.newsletter input {
  padding: 8px;
  border: none;
  width: 100%;
  border-radius: 4px;
}

.newsletter button {
  padding: 8px 12px;
  background:rgb(73, 243, 215);
  /* color: #fff; */
  border: none;
  width: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.quick-links ul, .social-links ul {
  list-style: none;
  padding: 0;
}

.quick-links ul li, .social-links ul li {
  margin: 5px 0;
}

.quick-links a, .social-links a {
  /* color: #ccc; */
  text-decoration: none;
}

.quick-links a:hover, .social-links a:hover {
  color: #ff6600;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #333;
  padding-top: 10px;
  font-size: 14px;
  /* color: #aaa; */
}
.footer-bottom a{
    display: inline-block;
    width: 23px;
   
    height: 25px;
    border-radius: 50%;
    border: 1px solid lightblue;
    padding: 1px;
}


@media only screen and (min-width:300px) and (max-width:1000px) {


    .menu{
         position: fixed;
        background-color:black;
        left: -100%;
        top: 70px;
        color: white;
        width: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 30px;
        transition: all 1s;
    }
    label i{
        opacity: 1;
    }
    input:checked~.menu {
    left: 0%;
    gap: 20px;
}

.shape{
    position: relative;
    top:-73px;
    right: 50px;
}
.shape1 {
    position: relative;
    top: -71px;
    right: -51px;
}
.shape3 {
    position: relative;
    top: -98px;
    right: 4px;
}

    
}